@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
}

.root {

}

.h1 {
    -fx-font-size: 30px;
    -fx-font-family: "Roboto";
    -fx-padding: 10 0 0 0;
}

.h2 {
    -fx-font-size: 22px;
    -fx-font-family: "Roboto Light";
    -fx-padding: 0 0 0 0;
}

.h3 {
    -fx-font-size: 16px;
}